@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root{
  --main-color: rgb(207, 36, 42);
  --secondary-color: rgb(112, 112, 112);
  --font: 'Open Sans', sans-serif;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: var(--font);
  padding: 2em 0em;
}

.logo{
  margin: auto;
  text-align: center;
  padding: 2em 0em;
  width: 10em;
}

.logo__image{
  width: 100%;
}

.get-info{
  margin: 0 auto 2em auto;
  width: 24em;
}

.get-info__title{
  display: block;
  font-size: 1em;
  background-color: var(--main-color);
  text-align: center;
  color: #fff;
  padding: 0.125em;
}

h2[class$="title"]{
  background-color: var(--main-color);
  display: block;
  font-size: 1em;
  color: white;
  text-align: center;
  padding: 0.125em;
}

input[class|="get"]{
  display: block;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 100%;
}

.get-curp{
  width: 24em;
  margin: 0 auto 2em auto;
}

.captcha{
  margin: auto;
  text-align: center;
  width: 24em;
}

.captcha__image{
  margin-top: 1em;
}

.get-info_centered,
.get-curp_centered{
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.get-info__clear,
.get-info__submit,
.get-curp__clear,
.get-curp__submit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.get-curp__clear,
.get-info__clear {
  margin-left: 0.5em;
}

@media screen and (max-width: 480px){
  body {
    padding: 0em 1em;
  }
  
  .content > * {
    width: 100%;
  }
  
}

@media screen and (min-width: 768px){
  body{
    padding: 1em 2em;
  }
  
  .content{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1240px){
  
  body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    justify-content: center;
  }
  
  .header {
    width: 100%;
  }
  
  .get-info {
    margin: 0;
    margin-right: 0.5em;
    width: calc(50%-0.5em);
  }
  
  .get-curp {
    margin: 0;
    margin-left: 0.5em;
    width: calc(50%-0.5em);
  }
  
  .captcha{
    width: 35%;
    margin-top: 2em;
    display: block;
  }
  
  .content{
    display: flex;
    justify-content: center;
  }
  
}
